<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="~{commons/layout}">
<head>
  <title>xxxシステム</title>
</head>
<body>
<div layout:fragment="commons/header">ヘッダー</div>
<div layout:fragment="commons/menu">メニュー</div>
<div layout:fragment="contents" id="content">
<div class="box">
<h3>商品別売上金額集計</h3>
 	<p th:text="${msg}"></p>
 	 	<table>
 		<tr class="hd2">
 			<th>No.</th>
 			<th>商品コード</th>
 			<th>商品名</th>
 			<th>売上合計額</th>
 		</tr>
 		<tr th:each="sale,cnt:${salesList}" class="row">
 			<td th:text="${cnt.count}" class="c0"/>
 			<td th:text="${sale.code}" class="c4"/>
  			<td th:text="${sale.name}" class="c3"/>
  			<td th:text="${sale.total}" class="c3"/>
 		</tr>
 	</table>
</div>
</div>
<div layout:fragment="commons/footer">フッター</div>
</body>
</html>